:root {
    --title-size: 40px;
    --color-darkgray: #333;
    --color-orange: #ff6347;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    width: 100%;
}

#navbar {
    width: 100%;
    max-height: 5vh;
    min-height: 80px;
    background-color: var(--color-darkgray);
    display: flex;
    justify-content: space-between;
}

.navitem-container {
    margin: 1rem;
    width: 30%;
}

.navitem-container:nth-of-type(2) {
    min-width: 300px;
    max-width: 450px;
}

.navitem-container img {
    height: 100%;
}

.navlist {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.navlist li a{
    text-decoration: none;
    color: white;
}

.hero-section {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-orange);
    color: white;
    padding: 1rem;
}

.hero-item {
    margin: 1rem;
    width: fit-content;
}

.hero-item h2 {
    font-size: 40px;
    margin: 2rem;
}

.hero-item button {
    padding: .5rem 1rem;
    border: none;
    color: white;
    background-color: var(--color-darkgray);
}

#special-offer {
    font-size: smaller;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: .25rem;
}

.category-section {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.section-title {
    margin-top: 3rem;
    text-align: center;
}

.category-section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-section-card {
    width: 30%;
    max-width: 250px;
    min-height: 300px;
    max-height: 350px;
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform .3s;
}

.category-section-card:hover {
    transform: scale(1.1);
}

.category-section-card a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.category-section-card img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

.comparison-table-container {
    margin-top: 1rem;
}

.comparison-table {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid var(--color-orange);
    border-collapse: collapse;
}

.comparison-table th {
    background-color: var(--color-orange);
    color: white;
}

.comparison-table th,
.comparison-table td {
    border: 1px solid #dddddd;
    padding: 1rem;
}

.testimonials-section {
    margin-top: 2rem;
    background-color: var(--color-darkgray);
    color: white;
    padding: 1.5rem 0;
}

.testimonial-cards {
    width: 90%;
    margin: 1rem auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.testimonial-card {
    width: 25%;
    min-height: 180px;
    min-width: 200px;
    max-width: 250px;
    margin: 3vw;
    padding: 1.5rem;
    background-color: #3f3f3f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.comment {
    font-style: italic;
}

.commentor {
    color: var(--color-orange);
}

.footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login/Sign Up Page */
.form-container {
    width: 100%;
}

#form {
    width: 350px;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px lightgray;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-form {
    display: none;
    width: 100%;
}

.sub-form > input, button {
    width: 100%;
    margin: 0.8rem 0;
    padding: 1rem;
    font-size: 1.2rem;
}

.sub-form button {
    background-color: var(--color-darkgray);
    color: white;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.sub-form button:hover {
    background-color: var(--color-orange);
    color: white;
}

.btn-highlight{
    background-color: #ccc;
    color: var(--color-orange);
    padding: 1rem !important;
}

#form label {
    display: inline-block;
    margin: 1.5rem 0.5rem;
    padding-left: 0;
    padding-right: 0;
}

#signin:checked ~ .signin-form,
#signup:checked ~ .signup-form {
    display: block;
}